/* AuthForm.css */
.form-wrap {
  max-width: 800px;
  max-height: 600px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 25px;
  background-color: #434343;
  color: white;
  box-shadow: 5px 10px 15px rgba(35, 33, 33, 0.5);
}

h2 {
  text-align: center;
  margin: 30px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 16px;
  border: 1px solid #ccc;
}
label {
  font-size: 20px;
}
.bInput {
  width: 30%;
  padding: 10px;
  background-color: #5e7ea1;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 25px 60px 25px 60px;
}

button:hover {
  background-color: #0056b3;
}
.logo-input {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}
.img-logo {
  height: 70px;
}
